{% extends "base.html" %}
{% block content %}
<!-- template: privacy.html -->
<h1>Privacy Policy</h1>
<p>This site was created by Simson Garfinkel for use in Harvard HKS IGA-236.</p>
<p>When used in conjunction with a course at Harvard University, this website is covered by the
  <a href="https://www.huit.harvard.edu/canvas-privacy">Harvard Canvas Privacy Policy</a>
</p>

<p>Otherwise, this site is covered by the <a href='https://demo.planttracer.com/privacy'>Plant Tracer Privacy Policy</a>.</p>

<p>Please also note the following:</p>
<ul>
  <li><a href="https://www.huit.harvard.edu/canvas-acceptable-use-policy"> Harvard Canvas Acceptable Use Policy </a></li>
  <li><a href="https://accessibility.harvard.edu/"> Harvard Accessibility </a></li>
  <li><a href="https://accessibility.huit.harvard.edu/digital-accessibility-policy"> Harvard Digital Accessibility </a></li>
</ul>

{% endblock content %}
