{% extends "base.html" %}
{% block content %}
<!-- template: terms.html -->
<h1>Terms of Service</h1>
<p>This site was created by Simson Garfinkel for use in Harvard HKS IGA-236.</p>
<p>When used in conjunction with a course at Harvard University, this website is covered by the
  <a href='https://www.huit.harvard.edu/canvas-acceptable-use-policy'>Harvard University Canvas Acceptable Use Policy</a>.
</p>

<p>Please also note the following:</p>
<ul>
  <li><a href="https://accessibility.harvard.edu/"> Harvard Accessibility </a></li>
  <li><a href="https://accessibility.huit.harvard.edu/digital-accessibility-policy"> Harvard Digital Accessibility </a></li>
  <li><a href="https://www.huit.harvard.edu/canvas-privacy">Harvard Canvas Privacy Policy</a></li>
</ul>

{% endblock content %}
